.cabeçalho {
    display: flex;
    background-color: #3C486B;
}

.cabeçalho-título1 {
    font-size: 100px;
    color: white;
}

.cabeçalho-lista {
    color: white;
}

.cabeçalho-imagem {
    width: 140px;
}
